.Wrapper{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 35px 23px;
    gap: 23px;
    .Info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
            font-size: 40px;
        }
        .StackList {
            display: flex;
            gap: 10px;
            .Spec {
                background-color: orangered;
                padding: 5px 6px;
                border-radius: 10px;
                color: white;
            }
        }
    }
    .HuntBtn{
        font-size: 20px;
        margin: 0 0 0 auto;
        height: 77px;
        width: 151px;
    }
}