.Wrapper {
    background-color: black;
    min-height: 100vh;
    color: white;
    padding-top: 37px;
    .Content {
        width: 1200px;
        margin: 0 auto;
        .Title {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 50px;
            input {
                height: 20px;
                width: 300px;
            }
        }
        .Buttons{
            display: flex;
            justify-content: space-between;
            button {
                cursor: pointer;
                padding: 10px 20px;
            }
            .CreateTeamBtn{
                box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7);
            }
            .findCategory{
                .ActiveBtn{
                    color: black;
                    background-color: white;
                    box-shadow: 0 0 10px 5px rgba(62, 194, 0, 0.7);
                }
                .InactiveBtn{
                    background-color: black;
                    color: white;
                    border: 1px solid white
                }
                button:first-of-type{
                    margin-right: 10px;
                }
            }
        }
    }
}